.container.checkbox-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.checkbox-wrapper input[type="checkbox"] {
    margin: 0.5rem;
    font-size: 2rem;
}

.checkbox-wrapper .label {
    padding: 0.5rem;
}