.container.group-container {
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0;
    box-shadow: 2px 2px 4px 0px var(--border-color);
}

.group-accordian {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem 0.5rem 0 0;
}

.group-accordian.opened {
    background-color: var(--open-group-background-color);
}

.accordian-button {
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
}

@keyframes ease-group {
    0% {
        /* max-height: 0; */
        opacity: 0;
    }
    100% {
        /* max-height: 1000px; */
        opacity: 1;
    }
}

.group-fields-subcontainer {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    animation-name: ease-group;
    animation-duration: 250ms;
    box-shadow: 2px 2px 4px 0px var(--border-color);
}

.show {
    display: block;
}

.hide {
    display: none;
}